* {
    margin: 0;
    padding: 0;
    --primary-dark: #0E100D;
    --primary-accent: #65785C;
    --secondary-dark: #523423;
    --accent-dark: #422E22;
    --accent-light: #B49474;
    --neutral-background: #F1F1F1;
}

html {
    background: black;
    padding: 0 3em 0 3em;
}

body {
    background: white;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 1.25fr 1fr;
    grid-template-areas: 
    "aside main"
    "aside form"
    "aside section";
    height: 100vh;
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
}

aside {
    grid-area: aside;
    background-image: url("images/latte.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_container {
    height: 11rem;
    background-color: rgba(0,0,0,.5);
    margin-top: 3rem;
    display: flex;
    font-size: 50px;
    align-items: center;
    color: white;
    justify-content: space-around;
    padding: .25em 0;
}

.text_container {
    padding-left: 3rem;
    font-family: Proza Libre, helvetica, sans-serif;
}

.morning {
    font-size: 65px;
    font-weight: 100;
    margin-bottom: -1rem;
}

.coffee {
    font-size: 80px;
    font-weight: 900;
    margin-top: -1rem;
}

.coffeeHeart {
    height: 175px;
    width: 175px;
}

.svg-container {
    padding-top: 1rem;
}

.photoCredit {
    justify-self: end;
    align-self: center;
    margin-bottom: 1rem;
    color: white;
}

main {
    grid-area: main;
    background-color: var(--neutral-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 3rem;
    font-size: 24px;
    font-weight: 500;
}

.italic {
    font-style: italic;
}

.push {
    padding: 2rem 0;
}

form {
    grid-area: form;
    background-color: rgba(180,148,116,.75);
    padding: 2rem 0 2rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "title title"
    "firstName lastName"
    "email phoneNumber"
    "password confirmPassword";
    box-shadow: 0px 5px 5px rgba(0,0,0,.5);
    z-index: 999;
}

form div {
    height: 1rem;
}

input {
    width: 15rem;
    height: 2rem;
    border-style: none;
    border-radius: .5rem;
    border: 1px solid grey;
}

label {
    font-size: 18px;
}

input:focus {
    outline: 2px solid var(--primary-accent);
    box-shadow: 4px 4px 4px rgba(0,0,0,.5);
}

.title {
    grid-area: title;
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: bold;
}

.firstName {
    grid-area: firstName;
}

.lastName {
    grid-area: lastName;
}

.email {
    grid-area: email;
}

.phoneNumber {
    grid-area: phoneNumber
}

.password {
    grid-area: password;
}

.confirmPassword {
    grid-area: confirmPassword;
}

section {
    padding: 2rem 0 0 3rem;
    grid-area: section;
    background-color: var(--neutral-background);
}

.createAccount {
    background-color: var(--primary-accent);
    padding: 1.5rem 3rem 1.5rem 3rem;
    font-size: 24px;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.createAccount:active {
    transform: translateY(2px);
}

section > p {
    padding-top: 2rem;
    font-size: 24px;
}

.logIn {
    color: var(--primary-accent);
    font-weight: 900;
    cursor: pointer;
}